.big:hover,.sign:hover{
    background-color: #000;
    color: #FFF;
    cursor: pointer;
  }
.small:hover,.link:hover{
  background-color: #FFF;
  color: #000;
  border: #000 solid 2px; 
  cursor: pointer;
}
.small{
  height: 50px;
  margin: 20px;
  width: 100px;
  color: #FFF;
  background-color: #000;
  border-radius: 10px;
}
.big{
    
    height: 50px;
    width: 80%;
  margin-top: 10px;
  background-color:white;
  border-radius: 10px;
  color: black;
}
.sign{
   
  height: 50px;
  width: 80%;
margin: 30% 10%;
background-color:white;
border-radius: 10px;
color: black;
}
.link{
  margin: 20px;
    height: 40px;
    margin:0% 1%;
    width:90px;
    color: #FFF;
    background-color: gray;
    border-radius: 10px;

}